.login {
  text-align: center;
  font-family: 'DMSans-Bold';
  font-style: normal;
  font-weight: bold;
  overflow-x: hidden;
}

.login h2 {
  // display: block;
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  margin-top: 5%;
}
